# Analyzing Students' Mental Health in SQL

In this live code-along, you'll perform exploratory data analysis on a dataset around mental health of domestic and international students. You'll perform SQL querying to look at how social connectedness and cultural issues affect mental health. Finally, you'll visualize the results of your analysis using the Python Plotly package.

## The Data

This survey was conducted in 2018 at an international Japanese university and the associated study was published in 2019. It was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties compared to the general population, and that social connectedness and acculturative stress are predictive of depression.

Social connectedness: measure of belonging to a social group or network.

Acculturative stress: stress associated with learning about and intergrating into a new culture.

[See paper for more info, including data description.](https://www.mdpi.com/2306-5729/4/3/124/htm)

[Link to the data.](https://www.mdpi.com/2306-5729/4/3/124/s1)

### Inspect the Data

Our data is in one table that includes all of the survey data. There are 50 fields and, according to the paper, 268 records. Each row is a student.

You can check the schema on the left.

1. Check if the data has 268 records.

In [1]:
-- Count the number of records in the table
SELECT COUNT(*) AS total_records
FROM students;

   total_records
0            286

2. Inspect the dataset to see what the fields look like.

In [2]:
-- Inspect the data and limit the output to 5 records
SELECT *
FROM students
LIMIT 5;

,inter_dom,Region,Gender,Academic,Age,Age_cate,Stay,Stay_Cate,Japanese,Japanese_cate,...,Friends_bi,Parents_bi,Relative_bi,Professional_bi,Phone_bi,Doctor_bi,religion_bi,Alone_bi,Others_bi,Internet_bi
0,Inter,SEA,Male,Grad,24,4,5,Long,3,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28,5,1,Short,4,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25,4,6,Long,4,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29,5,1,Short,2,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28,5,1,Short,1,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

3. How many international and domestic students are in the data set?

In [3]:
-- Count the number of international and domestic students
SELECT inter_dom, COUNT(inter_dom) AS count_inter_dom
FROM students
GROUP BY inter_dom;

  inter_dom  count_inter_dom
0       Dom               67
1                         18
2     Inter              201

4. Look into the 18 unassigned rows to understand what they could be.

In [4]:
-- Query the data to see all records where inter_dom is neither 'Dom' nor 'Inter'
SELECT *
FROM students
WHERE inter_dom NOT LIKE 'D%' AND inter_dom NOT LIKE 'I%';

,inter_dom,Region,Gender,Academic,Age,Age_cate,Stay,Stay_Cate,Japanese,Japanese_cate,...,Friends_bi,Parents_bi,Relative_bi,Professional_bi,Phone_bi,Doctor_bi,religion_bi,Alone_bi,Others_bi,Internet_bi
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128.0,137.0,66.0,61.0,30.0,46.0,19.0,65.0,21.0,45.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,131.0,202.0,207.0,238.0,222.0,249.0,203.0,247.0,223.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128.0,137.0,66.0,61.0,30.0,46.0,19.0,65.0,21.0,45.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,131.0,202.0,207.0,238.0,222.0,249.0,203.0,247.0,223.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5. Where are the international students from?

In [5]:
-- See what Region international students are from
SELECT "Region", COUNT(inter_dom) AS count_inter_dom
FROM students
WHERE inter_dom = 'Inter'
GROUP BY "Region";

   Region  count_inter_dom
0      SA               18
1      EA               48
2     JAP                2
3  Others               11
4     SEA              122

### Understanding the scores

6. Find the minimum, maximum, and average of each of the diagnostic tests (PHQ-9, SCS, ASISS). This information is in the paper, but it's good practice to look this up yourself during analysis.

In [6]:
-- Find out the basic summary statistics of the diagnostic tests for all students
SELECT MIN("ToDep") AS min_phq, 
	   MAX("ToDep") AS max_phq, 
       ROUND(AVG("ToDep"), 2) AS avg_phq, 
       MIN("ToSC") AS min_scs, 
       MAX("ToSC") AS max_scs, 
       ROUND(AVG("ToSC"), 2) AS avg_scs, 
       MIN("ToAS") AS min_as, 
       MAX("ToAS") AS max_as, 
       ROUND(AVG("ToAS"), 2) AS avg_as
FROM students;

,min_phc,max_phc,avg_phc,min_scs,max_scs,avg_scs,min_as,max_as,avg_as
0,0,25,8.19,8,48,37.47,36,145,72.38

**On your own:**

7. What are the summary statistics for domestic students and international students?

In [9]:
-- Write a query that looks at the statistics of each student group on one table, remembering to avoid the empty rows
SELECT inter_dom,
	   MIN("ToDep") AS min_phq, 
	   MAX("ToDep") AS max_phq, 
       ROUND(AVG("ToDep"), 2) AS avg_phq, 
       MIN("ToSC") AS min_scs, 
       MAX("ToSC") AS max_scs, 
       ROUND(AVG("ToSC"), 2) AS avg_scs, 
       MIN("ToAS") AS min_as, 
       MAX("ToAS") AS max_as, 
       ROUND(AVG("ToAS"), 2) AS avg_as
FROM students
WHERE inter_dom IN ('Inter', 'Dom')
GROUP BY inter_dom;

,inter_dom,min_phc,max_phc,avg_phc,min_scs,max_scs,avg_scs,min_as,max_as,avg_as
0,Inter,0,25,8.04,11,48,37.42,36,145,75.56
1,Dom,0,23,8.61,8,48,37.64,36,112,62.84

### International Focus

The study found that international students presented a higher risk of having mental health difficulties. Recall, the data is also skewed towards international students. Let's take a closer look at this student group.

8. How does the age of the international student impact the scores?

In [10]:
-- Find the average scores for each age group of international students, and view them in order
SELECT "Age", 
       ROUND(AVG("ToDep"), 2) AS avg_phq, 
       ROUND(AVG("ToSC"), 2) AS avg_scs, 
       ROUND(AVG("ToAS"), 2) AS avg_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY "Age"
ORDER BY "Age";

    Age  avg_phc  avg_scs  avg_as
0    17     4.67    37.33   70.67
1    18     8.75    34.11   80.61
2    19     8.44    37.90   74.10
3    20     7.35    38.21   73.26
4    21     9.23    37.74   75.23
5    22     8.36    38.14   70.43
6    23     9.67    32.00   81.25
7    24     4.67    42.33   74.33
8    25     6.11    37.33   80.78
9    27    10.00    35.00   42.00
10   28     3.33    39.00   71.00
11   29     3.75    43.00   63.50
12   30     9.33    41.00   97.33
13   31     5.75    43.50   80.25

**On Your Own**

9. See how another variable may impact the score.

Solution using Length of Stay

In [11]:
-- Find the average scores by length of stay for international students, and view them in order
SELECT "Stay", 
       ROUND(AVG("ToDep"), 2) AS avg_phq, 
       ROUND(AVG("ToSC"), 2) AS avg_scs, 
       ROUND(AVG("ToAS"), 2) AS avg_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY "Stay"
ORDER BY "Stay";

   Stay  avg_phc  avg_scs  avg_as
0     1     7.48    38.11   72.80
1     2     8.28    37.08   77.67
2     3     9.09    37.13   78.00
3     4     8.57    33.93   87.71
4     5     0.00    34.00   91.00
5     6     6.00    38.00   58.67
6     7     4.00    48.00   45.00
7     8    10.00    44.00   65.00
8    10    13.00    32.00   50.00